


<div class="row">
    <div class="col-md-8">
        <full-calendar id="c" [options]="calendarOptions" #calendar></full-calendar> 
    </div>
    <div class="col-md-4">
        <div class="col">
            <h3>
                Agenda
            </h3>

            <form  [formGroup]="miFormulario ">
                <!-- (ngSubmit)="agregarEvento() -->
                    

                    
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Titulo</label>
                    <div class="col-sm-9">
                        <input type="text"
                                [formControl]="nuevoTitulo" 
                                class="form-control"
                                placeholder="Ingrese un titulo"
                                
                                >
                                
                        <span class="form-text text-danger"
                        *ngIf="CampoEsValido('titulo')">
                                Debe tener un titulo
                        </span>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Fecha de inicio</label>
                    <div class="col-sm-9">
                        <input type="datetime-local"
                                [formControl]="nuevoInicio"
                                class="form-control">
                                
                        <span class="form-text text-danger"
                                *ngIf="CampoEsValido('inicio')">
                            Debe tener fecha de inicio
                        </span>
                    </div>
                </div>
                
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Fecha final</label>
                    <div class="col-sm-9">
                        <input type="datetime-local"
                                formControlName="fin"
                            class="form-control">
                    </div>
                </div>

                
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Color</label>
                    <div class="col-sm-9">
                        <input type="color"
                                [formControl]="nuevoColor"
                                class="form-control">

                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <button type="submit"
                                class="btn btn-primary float-end"
                                (click)="agregarEvento( )"
                                
                                (click)="agregarListaEventos()"
                                >
                                <!-- [disabled]="miFormulario.invalid" -->
                            Agregar Evento
                        </button>
                    </div>
                </div>

            



                    <h3>Editar Evento</h3>

                    <div formArrayName="Eventos" >
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                <th>Titulo</th>
                                <th>Color</th>
                                <th>Inicio</th>
                                <th>Fin</th>
                                <th>Eliminar</th>
                                </tr>
                            </thead>
                            <tbody  
                            >
                                <tr *ngFor="let e of EventosArr.controls ; let i = index">
                                    <!-- EventosArr.controls -->
                                    <td>
                                        <input
                                        type="text"
                                        class="form-control"
                                        [formControlName]="i"
                                        />
                                    </td>
                                    <td>
                                        <input type="color"
                                        class="form-control"
                                        [formControlName]="i"
                                        >
                                    </td>
                                    <td>
                                        <input type="datetime-local"
                                    [formControlName]="i">
                                    </td>
                                    <td>
                                        <input type="datetime-local">
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-outline-danger"
                                                (click)=" eliminar(i)"
                                                >
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>
                                    

                                
                                    

                            </tbody>
                        </table>
                    </div>
            </form>
        </div>
    </div>
</div>
  




<div class="row justify-content-evenly">
    <div class="col-4">
     <pre>{{miFormulario.value  | json}}</pre>
    </div>
    <div class="col-4">

        <span>NuevoTItulo</span>
        <pre>{{nuevoTitulo.valid}}</pre>
        <hr>
        <pre>{{nuevoTitulo.value}}</pre>
        <hr>

        <span>NuevoInicio</span>
        <pre>{{nuevoInicio.valid}}</pre>
        <pre>{{nuevoInicio.value}}</pre>



    </div>
  </div>




